html,
body {
    color: #ec111a;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

button {
    color: #ec111a;
    border-radius: 6px;
    border: 2px solid #ec111a;
    transition: .2s all;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;

}